body {
    background-color: rgb(206, 238, 253);
    color: black;
    height: 90vh;
}

.container {
    height: 250px;
    width: 250px;
    margin-top: 10px;
    margin: auto auto;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px 5px; 
  }
  .cell {
    color: white;
    background: deepskyblue;
    font-size: 2rem;
    text-align: center;
    padding: 1.5rem;
    position: relative;
    overflow: hidden;
  }
.choice {
    background-color: Transparent;
    color: white;
    font-size: 3rem;
    border:none;
    display: block;
    float: none;
    margin-right: 0;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

#title {
  color: deepskyblue;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bolder;
  font-size: 1.5rem;
}

#reload {
  margin: 0 auto;
  display: block;
  position: relative;
  width: 250px;
  height: 30px;
  margin: 20px auto;
  padding: 0;
  font-size: 22px;
  text-align: center;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  transition: transform 0.4s ease-in-out;
  background: deepskyblue;
  border-bottom: 2px solid deepskyblue;
  box-shadow: inset 0 -2px deepskyblue;
}

button:active {
top: 1px;
box-shadow: none;
}

.icon {
  position: absolute;
  left: 20px;
}

#reload .icon {
  margin-top: 3px;
  width: 20px;
  height: 20px;
  transition: all 0.4s ease-in-out;
}
#reload:hover .icon {
  transform: rotate(360deg) scale(1.2);
}

#game-status {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  color: deepskyblue;
  font-size: 1.2rem;
}

.winning-cells {
  color: rgb(9, 99, 129);
}